[submodule "project-hedra-assets"]
	path = project-hedra-assets
	url = git@bitbucket.org:Zaphyk/project-hedra-assets.git

[submodule "hedra-tools"]
	path = hedra-tools
	url = git@bitbucket.org:Zaphyk/hedra-tools.git

[submodule "hedra-obfuscator"]
	path = hedra-obfuscator
	url = git@bitbucket.org:Zaphyk/hedra-obfuscator.git
[submodule "api-facade"]
	path = api-facade
	url = https://github.com/Zaphyk/api-facade
